.header {
    position: sticky;
    top: 0;

    grid-area: header;
    z-index: 1;
    background-color: var(--white);
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.layout svg {
    fill: var(--mainColor);
}

@media(min-width: 640px) {
    .header {
        z-index: 2;
    }
}