.header {
    position: sticky;
    top: 0;

    grid-area: header;
    z-index: 1;
    background-color: var(--white);
}

.layout {
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-areas: "searchForm title callToolbar";
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 100%;
}

.slogan {
    color: var(--mainTextColor);
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
}

.layout svg {
    fill: var(--mainColor);
}

@media(min-width: 640px) {
    .header {
        z-index: 2;
    }
}

@media(min-width: 768px) {
 .header {
     border-bottom: 1px  solid var(--border);
 }
}
