.nav {
    grid-area: navbar;
    min-height: 100%;
    overflow: hidden;
}

.layout {
    position: relative;
    display: grid;
    gap: 10px;
}


@media(min-width: 640px) {
    .nav {
        position: sticky;
        top: 0;

        padding-left: 10px;
        padding-right: 10px;
    }
}

