.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 190px 190px 1fr;
    grid-template-areas:
            "cover cover cover"
            "avatar desc desc"
            "myposts myposts myposts";
    grid-area: content;

    min-height: 100vh;
    border-left: 1px solid var(--border);

    padding-left: 10px;
    padding-right: 10px;
}

.layout {
    padding-left: var(--gap-desktop);
    padding-right: var(--gap-desktop);

    min-height: 100%;
}

.cover {
    grid-area: cover;
    grid-column: 1 / 4;

    width: max(150px, 800px);
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.avatar {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: var(--mainColor);
    grid-area: avatar;
}

.desc {
    padding: 10px;
    grid-area: desc;
    grid-column: 2 / 3;

    width: 100%;
    height: 190px;

    border: 1px solid var(--border);
    border-radius: var(--sm-radius);
}

