.content {
    display: grid;
    gap: 20px;
    grid-template-rows: min-content  1fr 1fr;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-areas:
            "title title title"
            "avatar desc desc"
            "myposts myposts myposts";
    grid-area: content;

    min-height: 100vh;
    padding: 10px;

    background-color: var(--mainColor);
}

.layout {
    padding-left: var(--gap-desktop);
    padding-right: var(--gap-desktop);

    min-height: 100%;
}

.title {
    position: relative;
    grid-area: title;

    width: 320px;
    height: 40px;
    background-color: var(--white);
}

.title h1 {
    color: var(--mainTextColor);
    text-transform: capitalize;
}

.title::before {
    content: "";

    position: absolute;
    right: 10px;
    top: 50%;

    transform: translateY(-50%);
    width: 50%;
    height: 1px;
    background-color: var(---border);
}

.avatar {
    width: 60px;
    height: 60px;

    background-color: var(--white);
    border-radius: var(--borderRadius-medium);
    grid-area: avatar;
}

.desc {
    padding: 10px;
    grid-area: desc;
    grid-column: 2 / 3;

    width: 100%;
    height: 190px;

    border: 1px solid var(--border);
    border-radius: var(--sm-radius);
    background-color: var(--white);
}
