.list {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.item {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.item svg {
    fill: var(--mainColor);
}

.item:focus,
.item:hover {
    background-color: var(--linkHover);
}

.item:focus .link,
.item:hover .link {
    color: var(--white);
}

.item:focus svg,
.item:hover svg {
    fill: var(--white);
}

.link {
    display: grid;
    grid-template-rows: 20px 1fr;
    justify-items: center;
    align-items: center;

    letter-spacing: 1px;
    padding: 5px;

    font-size: 0;
    text-transform: uppercase;
    color: var(--link);

    transition: letter-spacing 0.2s ease-out;
    border-radius: var(--sm-radius);
}


@media (min-width: 640px) {
    .list {
        row-gap: 0;
    }

    .item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .link {
        gap: 15px;
        font-size: 14px;
    }
}


@media(min-width: 768px) {
    .list {
    justify-items: start;
}

    .item {
        width: 100%;
    }

    .link {
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr;
        justify-items: start;

    }
}