.list {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.item {
    padding-left: 20px;
    padding-right: 20px;
}

.item:first-child {
    margin-top: 10px;
}

.item svg {
    fill: var(--mainTextColor);
}

.item:focus .link,
.item:hover .link {
    color: var(--color-accent-fg);
    text-decoration: underline;
}

.link {
    display: grid;
    grid-template-rows: 20px 1fr;
    justify-items: center;
    align-items: center;

    padding: 5px;

    font-size: 0;
    text-transform: capitalize;
    color: var(--mainTextColor);

    transition: letter-spacing 0.2s ease-out;
    border-radius: var(--sm-radius);
}

@media (min-width: 640px) {
    .list {
        row-gap: 0;
    }

    .item {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .link {
        gap: 15px;
        font-size: 12px;
    }
}

@media(min-width: 768px) {
    .list {
    justify-items: start;
}

    .item {
        width: 100%;
    }

    .link {
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
    }
}